@import vo.ResourceVO
@import b3.vertical.fieldConstructor
@(resources: List[ResourceVO], resourceSearchForm : Form[ResourceVO.SearchVO])(implicit flash: play.api.mvc.Flash, messages: Messages)
@fruits = @{ Seq("A"->"Apples","P"->"Pears","B"->"Bananas") }
@opts = @{ Seq("M"->"Male","F"->"Female") }
@main("Current User List") {
    <h2>Resource</h2>
    <div id ="search-box">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href ="@routes.ResourceController.create">
                    Add
                </a>
            </div>
            <div class="panel-body">
            @b3.clear.form(routes.ResourceController.list) { implicit ifc =>
                @b3.inputWrapped("search", resourceSearchForm("keywordString"), 'placeholder -> "Pick a username") { input =>
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        @input
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                        </span>
                    </div>
                }
            }
            </div>
        </div>
    </div>

    <div id = "data-table">
        <table class="table">
            <thead>
                <tr>
                    <th>리소스 키</th>
                    <th>리소스 이름</th>
                    <th>리소스 이름</th>
                    <th>리소스 이름</th>
                    <th>리소스 이름</th>
                    <th>리소스 이름</th>
                    <th>리소스 이름</th>
                </tr>
            </thead>
            <tbody>
            @resources.map { resource =>
                <tr>
                    <td><a href="./view?@resource.resourceKey">@resource.resourceKey</a></td>
                    <td>@resource.resourceName</td>
                    <td>@resource.resourceLocale</td>
                    <td>@resource.resourceName</td>
                    <td>@resource.resourceName</td>
                    <td>@resource.resourceName</td>
                    <td>@resource.resourceName</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}