@(currentPage: Page[User], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash, messages: Messages)

@main("Current User List") {
    @Option(currentPage.items).filterNot(_.isEmpty).map { users =>

        <table class="computers zebra-striped">
            <thead>
                <tr>
                    <th>
                        "Computer name"
                    </th>

                </tr>
            </thead>
            <tbody>

            @users.map {
                case (user) => {
                    <tr>
                        <td>@user.username</td>
                        <td>
                            @user.password
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            }

            </tbody>
        </table>
    }
}