
@(userForm:Form[User])(implicit message:Messages)
@import b3.vertical.fieldConstructor

@main("Join Play Board") {
    <div class="login" style="width:25%; height:25%; margin:0 auto;">
        @b3.form(routes.UserController.save) {
            @b3.text(userForm("username"),      'placeholder -> "Pick a username")
            @b3.email(userForm("email"),    'placeholder -> "Your email address")
            @b3.text(userForm("password"),  'placeholder -> "Create a password")
            @b3.submit('class -> "btn btn-success btn-large f3 btn-block") { Sign Up }
        }
    </div>
}