@(implicit rs: RequestHeader)
<script src =https://code.jquery.com/jquery-3.1.1.js />
<script>

</script>
<body>
        별명 <input type = "text" id="txt_join"/>
        <button id="btn_join">join</button>
        <div id="chat_box"></div>
        <input type="text" id ="txt_talk"/>
        <button id="btn_talk">send</button>
        <button id="btn_leave">leave</button>
</body>
    <script>
            var socket = new WebSocket("@routes.AkkaController.chat.webSocketURL()")
            socket.open = function (e) {
                console.log("Connecting")
            }
            socket.onmessage = function (e) {
                $("#chat_box").append("<p>" + e.data + "</p>")
            }
            $(document).ready(function(){
                $('#btn_join').click(function(){
                    alert("chang")
                    socket.send(JSON.stringify(
                            { "type" :"join",
                                "username" : $("#txt_join").val()
                            }
                    ))
                });
                $("#btn_talk").click(function(){
                    alert("chang")
                    socket.send(JSON.stringify(
                            { "type" :"talk",
                                "username" : $("#txt_join").val(),
                                "msg" : $("#txt_talk").val()
                            }
                    ))
                });
                $("#btn_leave").click(function(){
                    socket.send(JSON.stringify(
                            { "type" :"leave",
                                "username" : $("#txt_join").val()
                            }
                    ))
                });
            });
    </script>








